<%- layout("/layouts/boilerplate") %>
<div class="row mt-4">
    <div class="col-6 offset-3">
        <h3 class="mt-4 mb-4">WanderLust Login</h3>
        <form action="/user/login" method="post" class="needs-validation mt-3" novalidate> 
            <div class="mb-3">
                <label for="username" class="form-label">Enter username</label>
                <input type="text" name="username" placeholder="enter username" class="form-control" id="username" required> 
                <div class="invalid-feedback">
                    Enter a valid username
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Create password</label>
                <input type="password" name="password" placeholder="enter password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-success px-3">Login</button>
        </form>
    </div>
</div>