<%- layout("/layouts/boilerplate") %>
<div class="row mb-4">
    <div class="col-8 offset-2">
        <h3 class="mt-3 mb-3">Add new listing</h3>
        <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data"> 
            <div class="mb-3">
                <label for="title" class="form-label">Property title</label>
                <input type="text" name="listing[title]" placeholder="enter title" class="form-control" id="title" required> 
                <div class="valid-feedback">
                    Title looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="listing[description]" id="description" placeholder="enter description" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload image</label>
                <input type="file" name="listing[image]" class="form-control" id="image">
            </div>
            <div class="mb-3">
                <label for="category">Select your property category</label>
                <select class="form-select" name="listing[category]" required>
                    <option selected>Select category</option>
                    <option value="trending">Trending</option>
                    <option value="rooms">Rooms</option>
                    <option value="cities">Iconic cities</option>
                    <option value="pools">Amazing Pools</option>
                    <option value="mountains">Mountains</option>
                    <option value="castles">Castles</option>
                    <option value="camping">Camping</option>
                    <option value="farms">Farms</option>
                    <option value="arctic">Arctic</option>
                    <option value="beach">Beach</option>
                    <option value="surfing">Surfing</option>
                </select>
            </div>
            <div class="row">
                <div class="mb-3 col-5">
                    <label for="price" class="form-label">Property price</label>
                    <input type="text" name="listing[price]" placeholder="enter price" id="price" class="form-control" required>
                    <div class="invalid-feedback">
                        Add pricing to the property.
                    </div>
                </div>
                <div class="mb-3 col-7">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="enter location" id="location" class="form-control" required>
                    <div class="invalid-feedback">
                        Enter the property location.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="country">Country</label>
                <input type="text" name="listing[country]" placeholder="enter country" id="country" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter a valid country name.
                </div>
            </div>
            <button type="submit" class="btn btn-dark add-btn px-4">Add</button>
        </form>
    </div>
</div>