body {
  font-family: "Plus Jakarta Sans", "sans-serif";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.navbar {
  background-color: white;
}

.nav-link {
  color: #222222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  display: flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.listing-card {
  border: none;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 0;
}

.card-text p {
  font-weight: 400;
}

.ct-title {
  font-weight: 600;
  margin: 0;
}

.ct-price {
  margin: 0;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #ffffff;
}

.add-btn,
.edit-btn {
  background-color: #fe424d;
  border: none;
}

.s-image {
  width: 100%;
  height: 42vh;
  object-fit: cover;
}

.s-body p {
  margin: 0;
}

.s-btns {
  display: flex;
  gap: 1rem;
  border: none;
  margin-top: 1rem;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    text-align: center;
    margin: .8rem;
    opacity: 0.7;
    color: #282828;
    text-decoration: none;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: .9rem;
    margin-bottom: .2rem;
}

.active {
  opacity: 1;
  color: #fe424d;
  border-bottom: 2px solid #fe424d;
}

.active p {
  font-weight: 600;
}

.empty-listings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1px;
  height: 50vh;
  font-size: 1.5rem;
}

.tax-toggle {
  border: 1px solid #222;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.search-btn {
  color: #ffffff;
  background-color: #fe424d;
  border-radius: 2rem;
}

.search-btn i {
  display: inline;
  margin-right: 0.3rem;
}

.search-input {
  border-radius: 2rem;
  padding: 0.5rem 3rem 0.5rem 1rem;
  width: 20rem;
  
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance:none;
}